<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="org.eclipse.emf.mint.internal.ui.source.GeneratedElementDecorator"
            id="org.eclipse.emf.mint.ui.source.GeneratedElementDecorator"
            label="%org.eclipse.emf.mint.ui.source.GeneratedElementDecorator.label"
            lightweight="true"
            state="true">
         <description>
            %org.eclipse.emf.mint.ui.source.GeneratedElementDecorator.description
         </description>
         <enablement>
            <or>
               <objectClass name="org.eclipse.jdt.core.IMember"/>
               <objectClass name="org.eclipse.jdt.core.ICompilationUnit"/>
            </or>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.queryParticipants">
      <queryParticipant
            class="org.eclipse.emf.mint.internal.ui.search.GenModelQueryParticipant"
            id="org.eclipse.emf.mint.ui.search.GenModelQueryParticipant"
            name="%org.eclipse.emf.mint.ui.search.GenModelQueryParticipant.name"
            nature="org.eclipse.jdt.core.javanature">
      </queryParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <themeElementCategory
            label="%org.eclipse.emf.mint.ui.source.GeneratedElementDecorator.themeCategory.label"
            id="org.eclipse.emf.mint.ui.source.GeneratedElementDecorator">
         <description>
            %org.eclipse.emf.mint.ui.source.GeneratedElementDecorator.themeCategory.description
         </description>
      </themeElementCategory>
      <colorDefinition
            label="%org.eclipse.emf.mint.ui.GENERATED_COLOR.label"
            categoryId="org.eclipse.emf.mint.ui.source.GeneratedElementDecorator"
            value="0,0,255"
            id="org.eclipse.emf.mint.ui.GENERATED_COLOR">
         <description>
            %org.eclipse.emf.mint.ui.GENERATED_COLOR.description 
         </description>
      </colorDefinition>
      <colorDefinition
            label="%org.eclipse.emf.mint.ui.GENERATED_NOT_COLOR.label"
            categoryId="org.eclipse.emf.mint.ui.source.GeneratedElementDecorator"
            value="255,0,0"
            id="org.eclipse.emf.mint.ui.GENERATED_NOT_COLOR">
         <description>
            %org.eclipse.emf.mint.ui.GENERATED_NOT_COLOR.description 
         </description>
      </colorDefinition>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
            class="org.eclipse.emf.mint.internal.ui.filters.GeneratedFilter"
            description="%org.eclipse.emf.mint.ui.filters.GeneratedFilter.description"
            enabled="false"
            id="org.eclipse.emf.mint.ui.filters.GeneratedFilter"
            name="%org.eclipse.emf.mint.ui.filters.GeneratedFilter.name">
      </filter>
      <filter
            class="org.eclipse.emf.mint.internal.ui.filters.GeneratedNotFilter"
            description="%org.eclipse.emf.mint.ui.filters.GeneratedNotFilter.description"
            enabled="false"
            id="org.eclipse.emf.mint.ui.filters.GeneratedNotFilter"
            name="%org.eclipse.emf.mint.ui.filters.GeneratedNotFilter.name">
      </filter>
      <filter
            class="org.eclipse.emf.mint.internal.ui.filters.GeneratedNoneFilter"
            description="%org.eclipse.emf.mint.ui.filters.GeneratedNoneFilter.description"
            enabled="false"
            id="org.eclipse.emf.mint.ui.filters.GeneratedNoneFilter"
            name="%org.eclipse.emf.mint.ui.filters.GeneratedNoneFilter.name">
      </filter>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.emf.codegen.ecore.genmodel.presentation.GenModelEditorID?after=open-actions">
         <menu
               id="org.eclipse.emf.mint.ui.actions.OpenForeignModelsMenu"
               label="%org.eclipse.emf.mint.ui.actions.OpenForeignModelsMenu.label">
            <dynamic
                  class="org.eclipse.emf.mint.internal.ui.actions.OpenForeignModelsMenu"
                  id="org.eclipse.emf.mint.ui.actions.OpenForeignModelsMenuContributionItem">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <and>
                        <instanceof
                              value="org.eclipse.emf.codegen.ecore.genmodel.GenModel">
                        </instanceof>
                        <test
                              forcePluginActivation="true"
                              property="org.eclipse.emf.mint.ui.hasForeignModels"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.emf.codegen.ecore.genmodel.presentation.GenModelEditorID?after=open-actions">
         <menu
               id="org.eclipse.emf.mint.ui.actions.OpenGeneratedMenu"
               label="%org.eclipse.emf.mint.ui.actions.OpenGeneratedMenu.label">
            <dynamic
                  class="org.eclipse.emf.mint.internal.ui.actions.OpenGeneratedMenu"
                  id="org.eclipse.emf.mint.ui.actions.OpenGeneratedMenuContributionItem">
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.jdt.ui.source.menu?after=codeGroup">
         <command
               commandId="org.eclipse.emf.mint.ui.source.CustomizeGeneratedMethodCommand"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.source.menu?after=codeGroup">
         <command
               commandId="org.eclipse.emf.mint.ui.source.CustomizeGeneratedMethodCommand"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.emf.mint.ui.source.CustomizeGeneratedMethodCommand"
            name="%org.eclipse.emf.mint.ui.source.CustomizeGeneratedMethodCommand.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.mint.internal.ui.source.CustomizeGeneratedMethodHandler"
            commandId="org.eclipse.emf.mint.ui.source.CustomizeGeneratedMethodCommand">
         <enabledWhen>
            <or>
               <with
                     variable="activePartId">
                  <equals
                        value="org.eclipse.jdt.ui.CompilationUnitEditor">
                  </equals>
               </with>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.emf.mint.ui.isCustomizableMethod"
                           value="true">
                     </test>
                  </iterate>
               </with>
            </or>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <category
            description="%org.eclipse.emf.mint.ui.activity.category.description"
            id="org.eclipse.emf.mint.ui"
            name="%org.eclipse.emf.mint.ui.activity.category.name">
      </category>
      <activity
            id="org.eclipse.emf.mint.ui.actions"
            name="%org.eclipse.emf.mint.ui.actions.activity.name">
      </activity>
      <activity
            id="org.eclipse.emf.mint.ui.source"
            name="%org.eclipse.emf.mint.ui.source.activity.name">
      </activity>
      <activity
            id="org.eclipse.emf.mint.ui.search"
            name="%org.eclipse.emf.mint.ui.search.activity.name">
      </activity>
      <categoryActivityBinding
            activityId="org.eclipse.emf.mint.ui.actions"
            categoryId="org.eclipse.emf.mint.ui">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.eclipse.emf.mint.ui.source"
            categoryId="org.eclipse.emf.mint.ui">
      </categoryActivityBinding>
      <categoryActivityBinding
            activityId="org.eclipse.emf.mint.ui.search"
            categoryId="org.eclipse.emf.mint.ui">
      </categoryActivityBinding>
      <activityPatternBinding
            activityId="org.eclipse.emf.mint.ui.actions"
            pattern="org\.eclipse\.emf\.mint\.ui/org\.eclipse\.emf\.mint\.ui\.actions\..*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="org.eclipse.emf.mint.ui.source"
            pattern="org\.eclipse\.emf\.mint\.ui/org\.eclipse\.emf\.mint\.ui\.source\..*">
      </activityPatternBinding>
      <defaultEnablement
            id="org.eclipse.emf.mint.ui.actions">
      </defaultEnablement>
      <defaultEnablement
            id="org.eclipse.emf.mint.ui.source">
      </defaultEnablement>
      <defaultEnablement
            id="org.eclipse.emf.mint.ui.search">
      </defaultEnablement>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.emf.mint.internal.ui.source.GeneratedMethodPropertyTester"
            id="org.eclipse.emf.mint.ui.GeneratedMethodPropertyTester"
            namespace="org.eclipse.emf.mint.ui"
            properties="isCustomizableMethod"
            type="org.eclipse.jdt.core.IMethod">
      </propertyTester>
      <propertyTester
            class="org.eclipse.emf.mint.internal.ui.actions.GenModelPropertyTester"
            id="org.eclipse.emf.mint.ui.GenModelPropertyTester"
            namespace="org.eclipse.emf.mint.ui"
            properties="hasForeignModels"
            type="org.eclipse.emf.codegen.ecore.genmodel.GenModel">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="intro/overviewExtensionContent.xml">
      </configExtension>
   </extension>
   <extension
         id="org.eclipse.emf.mint.ui.source.CodeGenTagCompletionProposalComputer"
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer">
      <javaCompletionProposalComputer
            categoryId="org.eclipse.jdt.ui.javaAllProposalCategory"
            class="org.eclipse.emf.mint.internal.ui.source.CodeGenTagCompletionProposalComputer">
         <partition
               type="__java_javadoc">
         </partition>
      </javaCompletionProposalComputer>
   </extension>

</plugin>
